.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    color: var(--gray-02---20);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 256px;
    border-radius: 4px;
    padding: 6px 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    outline: 1px solid var(--gray-02---70);
    color: var(--gray-02---20);
    background: var(--gray-02-100);

    svg {
      width: 16px;
      height: 16px;

      fill: var(--gray-600);
    }

    &[aria-expanded="true"] {
      svg {
        transform: rotateX(180deg);
      }
    }

    &:hover {
      outline: 1px solid var(--primary---hover);
    }

    &:active {
    }

    &:focus {
      outline: 3px solid var(--primary---focus);
    }

    &:disabled {
      background: var(--gray-02-90);
    }
  }

  &__options {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 4px;
    padding: 8px 0px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    background: var(--gray-02-100);
  }

  &__option {
    width: 100%;
    padding: 6px 16px;
    color: var(--gray-800);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    cursor: pointer;

    &.selected {
      color: var(--primary-main);
    }

    &:hover {
      color: var(--primary---hover);
    }
    &:active {
      color: var(--primary---pressed);
    }
    &:focus {
      outline: 3px solid var(--primary---focus);
      outline-offset: -3px;
    }
  }
}
