.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  max-width: 32px;
  height: auto;
  transition: outline 0.2s;

  &.big {
    width: 32px;
    height: 32px;

    & svg {
      width: 32px;
      height: 32px;
    }
  }

  &.small {
    padding: 4px;
    width: 24px;
    height: 24px;
  }
  svg * {
    transition: all 0.2s;
    &[fill] {
      fill: var(--gray-800);
    }
    &[stroke] {
      stroke: var(--gray-800);
    }
  }
  &:hover svg * {
    transition: all 0.2s;
    &[fill] {
      fill: var(--primary---hover);
    }
    &[stroke] {
      stroke: var(--primary---hover);
    }
  }

  &:active svg path {
    transition: all 0.2s;
    &[fill] {
      fill: var(--primary---pressed);
    }
    &[stroke] {
      stroke: var(--primary---pressed);
    }
  }

  &:focus {
    transition: all 0.2s;
    outline: 2px solid var(--primary---focus);
    border-radius: 4px;
  }
  &[active="true"] svg path {
    transition: all 0.2s;
    &[fill] {
      fill: var(--primary-main);
    }
    &[stroke] {
      stroke: var(--primary-main);
    }
  }
}
