.modal {
  &__contaner {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 64px;
    gap: 32px;
    width: 800px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background: var(--gray-02-100);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 90%;
    color: var(--gray-800);
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  &__titleIcon {
    width: 24px;
    height: auto;
    aspect-ratio: 1;
    & path {
      stroke: var(--gray-800);
    }
  }

  &__close {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    & svg {
      width: 32px;
      height: auto;
      aspect-ratio: 1;
      & path {
        fill: var(--gray-800);
      }
    }
  }
}
