.form {
  width: 664px;
  height: 300px;
  display: flex;
  flex-direction: column;

  &__userName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__footer {
    margin-top: auto;
  }
}
