.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: auto;
  padding: 0;
}

.main {
  display: flex;
  //flex-direction: column;
  //flex: 1 0 auto;
}

.main__ambassadors {
  display: flex;
  flex-direction: column;
  width: 860px;
}