.layout {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  margin: auto;
  padding: 0;
  // overflow-y: hidden;

  &__container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }

  &__main {
    width: 100%;
   // display: flex;
  }
}
