%item {
  padding: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 56px;
  gap: 4px;
}

.area {
  padding: 32px;
  width: 860px;
  height: 192px;
}
.container {
  display: flex;
  gap: 16px;
}

.item__sort {
  @extend %item;
  margin-bottom: 4px;
  width: 188px;
}

.item__city {
  @extend %item;
  margin-bottom: 4px;
  width: 181px;
}

.item__program {
  @extend %item;
  width: 281px;
}

.item__gender {
  @extend %item;
  width: 176px;
}
