.mailing {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/mailing.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}