.input__password {
	position: relative;
}
.input__passwordControl {
	position: absolute;
	top: 8px;
	right: 12px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/src/assets/images/eye.svg) 0 0 no-repeat;
    background-size: 16px 16px;
}
/* &_active {
	background: url(/src/assets/images/eye.svg) 0 0 no-repeat;
}*/

.input__password_area {
    width: 100%;
}