.container {
    background: var(--gray-02---90);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title {
    margin: 160px auto 190px auto;
    font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
line-height: 122%;
text-align: center;
color: var(--gray-900);
width: 734px;

&_colored {
    color: var(--primary-main);
}
}